<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCrgDq5k-rQh_4bIrB7_Q5r5EHKWpTvHPk</string>
	<key>GCM_SENDER_ID</key>
	<string>705613267889</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ehwah.SMR</string>
	<key>PROJECT_ID</key>
	<string>securityrobot-c9295</string>
	<key>STORAGE_BUCKET</key>
	<string>securityrobot-c9295.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:705613267889:ios:490852cdd7819ae3843390</string>
</dict>
</plist>